@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 244, 244, 244;
  --background-rgb: 3, 4, 5;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.home-item:hover .item-info {
  top: -3.25rem;
}

.home-item:hover img {
  margin-top: 0rem;
}

.story {
  font-size: 1.875rem;
  font-weight: 300;
  letter-spacing: 0.085rem;
  text-align: center;

  margin-right: auto;
  margin-left: auto;

  width: 100%;

  display: flex;
  flex-direction: column;

  p,
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
    margin-top: 1.25rem;
    display: inline-block;
    width: 100%;
  }

  h1 {
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 0em;
    margin-bottom: -0.25rem;
  }

  h2 {
    margin-top: 1.875rem;
    font-size: 1.875rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.15rem;
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto;
  }

  ul {
    list-style: lower-alpha;
  }

  li {
    padding: 0 1rem;
    margin-bottom: 1.3rem;
  }

  small {
    font-size: 1.15rem;
    opacity: .6;
  }

  b {
    font-weight: 500;
  }

  .center {
    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;
    max-width: theme(maxWidth.4xl);
    /* margin-top: 8rem; */
  }

  .split {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.875rem;
  }
}